.alert-warning{background-color:#F0AD4E;font-size:25px;color:white;}

.jumbotron > .titulosSecundarios{font-size:35px;}
.jumbotron{margin-bottom: 0;padding-bottom: 0;padding-top: 10%}

#quadrosConteudo, #sintomasConteudo, #classificacaoConteudo{padding-top: 2%;}

.nav-justified > li > a:hover {
    background-color: #E7E7E7;
}
